* {
	font-family: sans-serif;
}

html {
	background-color: #ababb4;
}

.numButton {
	background-color: #bcbcbc;
	color: black;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 98%;
	margin: 3px;
}

.numButton:hover {
	background-color: black;
	color: #e7e7e7;
}

.calcButton {
	background-color: #bcbcbc;
	color: black;
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 3px;
}

.calcButton:hover {
	background-color: black;
	color: #e7e7e7;
}

footer {
	font-size: 10px;
	color: #e7e7e7;
	margin-bottom: 2px;
}