* {
	font-family: sans-serif;
}

html {
	background-color: #ababb4;
}

.numButton {
	background-color: #bcbcbc;
	color: black;
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.numButton:hover {
	background-color: black;
	color: #e7e7e7;
}

.calcButton {
	background-color: #bcbcbc;
	color: black;
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.calcButton:hover {
	background-color: black;
	color: #e7e7e7;
}

footer {
	font-size: 10px;
	color: #e7e7e7;
}