.main-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

.numButton {
	padding: 5px;
	width: 98%;
	margin: 3px;
}

.num0 {
	grid-column: 2 / 3;
}

.operatorContainer {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.calcContainter {

}

.calcBox {
	display: block;
	width: 100%;

}

.calcButton {
	display: block;
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	margin-bottom: 2px;
}